body{
    height: 100vh;
    margin: 0;
}


.wrapper{
    background-color: rgb(65, 65, 65);
    
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 70px 400px auto 100px;


}

.MerchWrapper{
    background-color: rgb(65, 65, 65);
    
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 70px auto 100px;
}


header{
    background-color: aqua;
    

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    
}

nav{
    background-color: rgb(15, 163, 163);
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    position: sticky;
    top: 0;

    z-index: 2;
}

h1{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2)
}

.NavButton{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}



.videoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}
.video{
    
    height: 374px;
    border: 5px ridge white;
}
.videoTitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bilder{
    grid-column: span 2;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.bild{
    
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.bild:hover{
transform: scale(1.02)    
}
.LennartPic{
    width: 350px;
    height: 350px;
    border: 5px solid white;
}

.merch{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 350px 50px;
    border: 5px solid rgb(112, 112, 112);
    margin:10px;
}
.merchpic{
    width: 350px;
    height: 350px;
}
.bildtext{
    color: white;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin:10px;
}


.wrapperWiki{
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: auto;

    

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 70px auto 100px;
}
.articleWrapper{
    background-color: rgb(100, 100, 100);
    grid-column: span 2;
    width: 85%;
    height: 100%;
    justify-self: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

article{
    color:white;
    margin: 10px;
    border-bottom:1px solid black;
}

h2{
border-bottom: 1px solid rgb(70, 70, 70);
margin-top: 30px;
}
a.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

.HowardGrid{
    display: grid;
    grid-template-columns: auto auto;

}
.Howard{
    width: 300px;
    height: 150px;
}

footer{
    background-color: grey;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.FooterLink{
    color: white;
    text-decoration: none;
}

.FooterIcon{
    width: 50px;
    height:50px;
}

.liHeading{
    color: white;
}